[Desktop Entry]js
Exec=sh -c "touch /tmp/repl.js & kwrite /tmp/repl.js & konsole -e nodemon -w /tmp/repl.js -q --exec 'clear && node /tmp/repl.js'"
GenericName[en_US]=Run an interactive JS REPL with KWrite and Konsole
GenericName=Run an interactive JS REPL with KWrite and Konsole
Icon=code-context-symbolic
Name[en_US]=JSRepl
Name=JSRepl
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
